hr {
  margin: 5px;
  margin-bottom: 8px;
  border: 0;
  width: auto;
  height: 1px;
  background: #C3CBCD;
}

#placeDetailInfoCard {
  border-style: solid;
  border-width: 1px;
  border-color: #C3CBCD;
}

#placeDetailInfo {
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#line{
  border: 3px;
  color: black;
}

.flexbox > *{
  flex-grow: 0;
}

#DetailRecommendItem {
  width: 300px;
}

#DetailRecommendContainer{
  justify-content: center;
  align-items: center;
}

#carouselWrapper {
  position: relative;
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  overflow-x: hidden;
}

#carousel {
    display: flex;
    position: absolute;
    transition: 0.5s;
}

#imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
}

.image {
  width: 389px;
  height: 400px;
  margin-top: 50px;
}

.image:hover ~ .text .recommendedItemName {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}